.cta-container {
  padding: 0;
  border: 1px solid rgb(221, 221, 221);

  h2 {
    padding: 1rem 0;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 0;
  }

  .cta-description {
    padding: 10px;
    overflow: auto;
  }

  .icon-bar {
    border-bottom: 1px solid rgb(221, 221, 221);
    padding: 0 10px;
    margin-left: auto;
    margin-right: auto;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

@media screen and (max-width: 1760px) and (min-width: 500px) {
  .icon-bar {
    min-height: 4rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 649px) {
  .cta-description {
    height: 9rem;
  }
}

@media screen and (min-width: 650px) and (max-width: 749px) {
  .cta-description {
    height: 7.75rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 1500px) {
  .cta-description {
    height: 9rem;
  }
}

@media screen and (min-width: 1501px) and (max-width: 2100px) {
  .cta-description {
    height: 8rem;
  }
}

@media screen and (min-width: 2101px) and (max-width: 2500px) {
  .cta-description {
    height: 7rem;
  }
}

@media screen and (min-width: 2501px) {
  .cta-description {
    height: 6rem;
  }
}