<div 
  class="input-height"
  [formGroup]="form"
>
  <mat-form-field class="input-layout"> 
    <mat-label>{{ label || prop }}</mat-label> 
    <input 
      matInput 
      [formControlName]="prop" 
      (ngModelChange)="emitValue($event)"
    > 
    <mat-hint>
      {{ hint }} 
    </mat-hint>
    <mat-error *ngIf="(form.get(prop).touched || form.get(prop).dirty) && !form.get(prop).valid">
      <div *ngIf="form.get(prop).errors?.required">
        {{ label }} is required
      </div>

      <div *ngIf="validationError">
        {{ validationError }}
      </div>
    </mat-error> 
  </mat-form-field>
</div>