h1 {
  padding-left: 1rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  margin: 0;
}

.photo-gallery-container {
  padding: 0 1rem;

  .photo-gallery-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .photo {
      height: 100%;
      width: 300px;
      border: 1px solid #f8d145;
      border-bottom: 5px solid #f8d145;
      margin: 20px;
    }
  }
}