<div class="welcome-grid">
  <app-grid-image 
    src="/assets/vue de vallon bersac.jpg" 
    alt="front view of Vue Du Vallon, Bersac Sur Ravalier, Haute Vienne" 
    link="/room"
    class="i1"
    imgClass="welcome-image"
  />
  <app-grid-shield
    title="The Chambre D'hôte" 
    routerLink="/room"
    class="t1 pointer"
  >
    Vue de Vallon offers five light airy rooms in a peaceful village setting. The rooms are decorated in typical French rustic style with comfortable beds, fresh linen and en-suite or private bathrooms.  We aim to make your stay as relaxing as possible. 
  </app-grid-shield>

  <app-grid-image 
    src="/assets/vue de vallon bersac limoges.jpg" 
    alt="The Terrace and View from Vue Du Vallon over Bersac Sur Ravalier, Limoges, Haute Vienne" 
    link="/photo-gallery"
    class="i2"
    imgClass="welcome-image"
  />
  
  <app-grid-shield
    title="The Views" 
    routerLink="/photo-gallery"
    class="t2 pointer"
  >
    
  </app-grid-shield>

  <app-grid-image 
    src="/assets/Haute Vienne Lakes and Rivers.jpg" 
    alt="Front view of Vue Du Vallon, Chambre D'hôte in Bersac Sur Ravalier, Haute Vienne" 
    link="/location"
    class="i3"
    imgClass="welcome-image"
  />

  <app-grid-shield
    title="Lakes, Rivers and Attractions" 

    routerLink="/location"
    class="t3 pointer"
  >
    Situated in the Haute Vienne region of France (previously known as the Limousin), Vue de Vallon is surrounded by lakes,  rivers and picturesque French villages.  Whether cycling, kayaking, walking, crafting or exploring are your passion - there's something for everyone. 
  </app-grid-shield>
</div>