<app-locale-switcher></app-locale-switcher>
<app-nav></app-nav>

<nav>
  <ul>
    <li>
      <a routerLink="/accommodation" routerLinkActive="active" ariaCurrentWhenActive="page">
        First Component
      </a>
    </li>
    <li>
      <a routerLink="/photo-gallery" routerLinkActive="active" ariaCurrentWhenActive="page">
        Second Component
      </a>
    </li>
  </ul>
</nav>

<div class="router-padding main" fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="75%" fxFlex.lt-md="90%">
    <router-outlet></router-outlet>
  </div>
</div>
