<footer >
<div>footer col 1</div>
<div>
    <h4 class="color-secondary">
        Contact Details
    </h4>
    <div>
        <span class="color-primary">Address:</span><br />
        Vue De Vallon,<br />
        4 Rte de Maillofargueix,<br />
        Bersac-Sur-Ravalier 87370<br />
        <br />
        <span class="color-primary">Phone:</span><br />
        +33 <br /><br />
        <span class="color-primary">Email:</span><br />
        a@a.com<br />
    </div>
</div>
<div>footer col 3</div>
</footer>