<div class="footer-spacer no-print">

</div>
<footer class="background-primary no-print">
    <div class="logo pointer" routerLink="/home">
        <a class="footer-logo logo">
            Vue Du Vallon
        </a>
    </div>
    <div class="contact">
        <h3 class="color-secondary footer-title">
            Contact Details
        </h3>
        <!-- <div>
            Vue Du Vallon<br />
            4 Rte de Maillofargueix,<br />
            Bersac-Sur-Ravalier 87370<br />
            <br />
            Phone: +33 7 70 29 65 62<br />
            Email: info@VueDuVallon.fr 
              <a href="mailto:info@VueDuVallon.fr">📧</a>
              <br />
        </div> -->
    </div>
    <div class="reservation">
        <h3 class="color-secondary footer-title">
            Reservations
        </h3>
        <ul>
            <li>Booking.com</li>
            <li>Hotels.com</li>
            <li>AirBnB.com</li>
            <li>vrbo.com</li>
        </ul>
    </div>
</footer>