h2 {
  padding-top: 0;
  padding-left: 1rem;
}

.search-bar {
  display: block;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  width: calc(100vw - 2.5rem);
}

@media screen and (min-width: 750px) {
  .search-bar {
    display: grid;
  }
}