<h1 class="pt-2">
  Vue De Vallon Chambre D'Hôte
</h1>

<h2 class="title">
  Amenities
</h2>
<div class="amenities-container">

  We have a terrace area where you can eat alfresco whilst enjoying the magnificent views. A peaceful shady garden to relax in, a hot tub for you to chill in and a splash pool to cool down in. 

<!-- <p>
  Inside there is a comfortable lounge and dining room for the exclusive use of our guests. 
</p>
<p>
  The guest accommodation has its own entrance, separate from the main house and guests are able to come and go at leisure without disturbing anyone else.
</p> 
<p>
  There is secure parking and charging facilities for electric cars can be arranged at additional cost. 
</p> -->
</div>

<div class="accommodation-container">
  <app-facilities />
</div>


<h2 class="title pt-2">
  Food
</h2>
<div class="food-container">
  At Vue de Vallon we take pride in providing our guests with the best regional produce.   Fresh eggs from our own hens, bread and pastries from the artisan bakery in the next village, homemade jams, Limousin beef and local honey, sausages and even snails. Join us for breakfast every day, whilst additionally dinner, afternoon tea, picnics, barbecues and themed events are available to order. 
</div>


<h2 class="title pt-2">
  Pick Your Room
</h2>

<app-accomodation-grid [accommodation]="accommodation" />
