<img 
  class="vue-de-vallon"
  alt="Vue Du Vallon, Bersac Sur Ravalier"
  src="/assets/vue de vallon bersac sur ravalier.jpg" 
/>

<div class="page-header">
  <h1 class="page-title logo text-center">
    Welcome to Vue Du Vallon
  </h1>
  <div class="text-center page-caption">
    Vue de Vallon Chambres d'hôtes offer you the opportunity to relax, reflect and recharge in the beautiful and dynamic setting of the French Lake District.  You do as much as you want - we do the rest. 
  </div>
</div>

<app-welcome-grid />
