.vue-de-vallon {
  width: 100vw;
  height: auto;
}

.welcome-grid {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vw;
  margin-left: 20vw;
  box-shadow: 3px 3px 3px #f8d145;
  border: 1px solid #ddd;
  cursor: pointer;
}

.welcome-image {
  width: 30vw;
  height: 30vw;
}

.page-title {
  font-size: 30px;
  margin-top: 2rem;
}

.text-center {
  align-items: center;
}

.item {
  height: 30vw;
}

@media screen and (max-width: 700px) {
  .welcome-grid {
    margin-left: 10vw;
    width: 80vw;
  }

  .welcome-image {
    width: 40vw;
    height: auto;
  }

  .item {
    height: 40vw;
  }
}

@media screen and (max-width: 600px) {
  .welcome-grid {
    margin-left: 0;
    width: 100vw;
  }

  .welcome-image {
    width: 100vw;
    height: auto;
  }

  .item {
    height: 100vw;
  }
  
}

.item:nth-child(even) {
  border-left: none;
}

@media screen and (max-width: 600px) {
  .item-hidden-xs {
    display: none;
    border: 1px solid #eee;
  }

  .welcome-grid {
    grid-template-columns: 1fr;
  }
}
