<img 
  class="vue-de-vallon"
  alt="Vue De Vallon, Bersac Sur Ravalier"
  src="/assets/vue de vallon bersac sur ravalier.jpg" 
/>

<div>
  <h1 class="page-title logo text-center">
    Welcome to Vue De Vallon
  </h1>
  <div class="text-center">
    Live your break with Vue De Vallon the French Lake district Guest House.
  </div>
<div>
  
</div>
</div>
<div class="welcome-grid">
  <div 
    class="item text-center item-hidden-xs" 
    routerLink="/accommodation"
  >
    The Chambre D'hôte
  </div>
  <div 
    class="item" 
    routerLink="/accommodation"
  >
    <img 
      src="/assets/vue de vallon bersac.jpg" 
      alt="front view of Vue De Vallon, Bersac Sur Ravalier, Haute Vienne" 
      class="welcome-image"
    />
  </div>
  <div 
    class="item"
    routerLink="/photo-gallery"
  >
    <img 
      src="/assets/vue de vallon bersac limoges.jpg" 
      alt="The Terrace and View from Vue De Vallon over Bersac Sur Ravalier, Limoges, Haute Vienne" 
      class="welcome-image"
    />
  </div>
  <div 
    class="item item-hidden-xs text-center"
    routerLink="/photo-gallery"
  >
    The Views
  </div>
  <div 
    class="item text-center item-hidden-xs"
    routerLink="/location"
  >

    Lakes, Rivers and Attractions
  </div>
  <div 
    class="item"
    routerLink="/location"
  >
    <img 
      src="/assets/Haute Vienne Lakes and Rivers.jpg" 
      alt="front view of Vue De Vallon, Bersac Sur Ravalier, Haute Vienne" 
      class="welcome-image"
    />
  </div>
</div>