.grid-room {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  ul {
    padding-left: 20px;
  }
}


@media screen and (max-width: 600px) {
  .grid-room {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    height: inherit;
  }
}