
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();


@font-face {
  font-family: comfort;
  src: url(assets/Comfort.ttf);
}

@font-face {
  font-family: play;
  src: url(assets/Play-Regular.ttf);
}

.nav-item {
  font-family: comfort;
  font-size: 16px;
}

.logo {
  font-family: play;
  font-size: 25px;
}

$bnbPrimary: (
  50: #d7eaf6,
  100: #a0cae7,
  200: #61a8d6,
  300: #0088c5,
  400: #0072bd,
  500: #005eb3,
  600: #0053a8,
  700: #004498,
  800: #003587,
  900: #001c6b,

  contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: rgba(black, 0.87),
   600: rgba(black, 0.87),
   700: rgba(black, 0.87),
   800: rgba(black, 0.87),
   900: rgba(black, 0.87),
 )
);

$bnbSecondary: (
  50: #fef7e0,
  100: #fceab0,
  200: #fadd7c,
  300: #f8d145,
  400: #f7c511,
  500: #f6bb00,
  600: #f7ae00,
  700: #f79a00,
  800: #f88900,
  900: #f86900,

  contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: rgba(black, 0.87),
   400: rgba(black, 0.87),
   500: rgba(black, 0.87),
   600: rgba(black, 0.87),
   700: rgba(black, 0.87),
   800: rgba(black, 0.87),
   900: rgba(black, 0.87),
 )
);


// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$bnb-primary: mat.define-palette($bnbPrimary, 200);
$bnb-accent: mat.define-palette($bnbSecondary, 400, 100, 600);


.background-primary {
  background-color: #61a8d6;
}

.background-secondary {
  background-color: #f8d145;
}

.color-secondary {
  color: #f8d145;
}

.color-primary {
  color: #61a8d6;
}

// The warn palette is optional (defaults to red).
$bnb-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$bnb-theme: mat.define-light-theme((
  color: (
    primary: $bnb-primary,
    accent: $bnb-accent,
    warn: $bnb-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($bnb-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  color: #53563d;
}

.text-center {
  display: flex;
  justify-content: center;
}

.text-v-center {
  display: flex;
  align-items: center;
}

.pointer {
  cursor: pointer;
}


.app-grid {
  border-radius: 8px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vw;
  margin-left: 20vw;
  box-shadow: 3px 3px 3px #fceab0;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  cursor: pointer;
  
  .item {
    height: 30vw;
    
    .app-image {
      width: 30vw;
      height: 30vw;
    }
    
    .item-text {
      height: calc(25vw - 1rem);
      width: calc(25vw - 1rem);
      padding: .5rem;
      /* background-color: color-mix(in srgb, #fef7e0 5%, white);  /*#fef7e0; #d7eaf6; */
      background-image: linear-gradient(#fceab0, color-mix(in srgb, #fceab0 25%, white));
      border-radius: 8px;
      border-style: double;
      border-color: #f8d145;

      .title {
        display: flex;
        justify-content: center;
        padding-top: 1rem;
      }
    }

    .shield {
      margin-top: 1rem;
    }
  }
}

@media screen and (max-width: 700px) {
  .app-grid {
    margin-left: 10vw;
    width: 80vw;
  
    .item {
      height: 40vw;

      .app-image {
        width: 40vw;
        height: auto;
      }
      
      .item-text {
        height: calc(30vw - 1rem);
        width: calc(30vw - 1rem);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .app-grid {
    margin-left: 0;
    width: 100vw;
    grid-template-columns: 1fr;
    
    .item {
      height: 100vw;
      
      .app-image {
        width: 100vw;
        height: auto;
      }
    }
  }

  .hidden-xs {
    display: none;
  }
}
