<div class="activity-container pl-1 pt-2 pb-1">
  <h1 class="pb-1">
    Vue De Vallon Chambre D'Hôte - Activities
  </h1>

  Your hosts are happy to share their passions with you.  From water based activities such as kayaking, windsurfing and paddle boarding to searching the brocantes and local markets for vintage treasure or running workshops or one to one crafting sessions. 

  We can also tell you about the best places to explore, to swim, to walk, to cycle and to eat in the local area. We also have equipment to hire. 
</div>

<app-search-bar title="Activities"
                [searchCategories]="searchCategories"
                (searchUpdated)="search($event)" />

<div class="activity-grid">
  <app-cta *ngFor="let activity of activities"
           [cta]="activity" />
</div>